        </main>
        <footer>
            <div id="footer">
                <div>
                    <a href="https://github.com/ShannyxMP">ShannyxMP © <%= new Date().getFullYear() %>
                </div>
            </div>
        </footer>
    </body>
</html>
