<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/content.css" />
  </head>
  <body>
    <div id="page">
      <header>
        <nav>
          <div>
            <!-- Empty to assist with positioning of flexbox -->
          </div>
          <div>
            <a href="/">CapyBlog</a>
            <img src="/images/orange-icon.png" alt="orange icon" />
          </div>
          <div>
            <a href="/add-post">+</a>
          </div>
        </nav>
      </header>

      <main>
