<%- include("partials/header.ejs") %>

<h1>You are adding a post:</h1>

<form action="/submit" method="POST">
  <input type="text" name="title" placeholder="Title" />
  <input type="text" name="content" placeholder="Write your post here..." />
  <input type="submit" value="Add post" />
  <a href="/">Cancel</a>
</form>

<%- include("partials/footer.ejs") %>
