<%- include("partials/header.ejs") %>

<h1>Write a post:</h1>

<div class="single_post-container">
  <form action="/submit" method="POST">
    <div id="edit_add-container">
      <div>
        <input type="text" name="title" placeholder="Title" required />
      </div>
      <div>
        <textarea
          type="text"
          name="content"
          placeholder="Write your post here..."
          minlength="150"
          rows="6"
          required
        ></textarea>
      </div>
      <div>
        <input type="text" name="author" placeholder="Author" required />
      </div>
      <div>
        <a href="/">Cancel</a>
        <button type="submit" value="Add post">Add Post</button>
      </div>
    </div>
  </form>
</div>

<%- include("partials/footer.ejs") %>
