<%- include("partials/header.ejs") %>

<a href="/add-post">Posting page</a>

<% for (let i = 0; i < posts.length; i++) { %>
<div>
  <h2><%= posts[i].title %></h2>
  <p><%= posts[i].content %></p>
</div>

<% } %> <%- include("partials/footer.ejs") %>
