/* TODO: Check responsiveness */

h1 {
  font-size: 1.5rem;
}

span {
  font-weight: 700;
}

/********** FOR THE HOMEPAGE **********/

#welcome {
  font-size: 1.5rem;
}

.all_posts-flexcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.all_posts-flex-item {
  flex-shrink: 0;
}

/* For the post as a orange: */
.container-orange {
  height: 400px;
  width: 400px;
  background-color: hsl(13, 72%, 55%);
  border-radius: 50%;
  color: hsl(51, 100%, 95%);
}

.delete-leaf {
  background-color: hsl(130, 34%, 41%);
  border-radius: 0% 75%;
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  border: none;
  background-color: hsla(143, 100%, 50%, 0);
}

.icon img {
  height: 25px;
  opacity: 1;
  padding-bottom: 2px;
}

.underline img:hover,
.underline a:hover {
  /* box-shadow: 0px 1px 0px hsl(51, 100%, 95%); */
  border-bottom: 1px solid hsl(51, 100%, 95%);
}

.post-homepage {
  padding: 0 15%;
}

.post-homepage p {
  font-size: 1rem;
  text-align: justify;
}

.post-homepage a {
  font-weight: 700;
  color: hsl(51, 100%, 95%);
}

.heading-homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/********** FOR ALL OTHER PAGES (excluding homepage - ie. view-post, add-post, edit-post) **********/

.single_post-container {
  background-color: hsl(13, 72%, 55%);
  color: hsl(51, 100%, 95%);
  border-radius: 25px;

  padding: 30px;

  text-align: justify;
}

.single_post-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.single_post-container p {
  font-size: 1rem;
}

.single_post-container a {
  color: hsl(51, 100%, 95%);
  font-size: 1rem;
  padding-bottom: 2px;
}

.single_post-container a:hover {
  border-bottom: 1px solid hsl(51, 100%, 95%);
}

/********** SPECIFICALLY FOR ADD & EDIT POST PAGE **********/
form {
  margin: 0 20px;
}

input {
  width: 100%;
  transform: none;

  margin: 0 20px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;

  border: none;
  border-radius: 25px;
  background-color: hsl(51, 100%, 95%);
  color: hsl(13, 72%, 55%);
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 250px;

  padding: 12px 20px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;

  border: none;
  border-radius: 25px;
  background-color: hsl(51, 100%, 95%);
  color: hsl(13, 72%, 55%);
}

input:focus,
textarea:focus {
  outline: none;
  border: 5px dotted hsl(13, 72%, 55%);
}

#edit_add-container {
  gap: 20px;
}

#edit_add-container div:nth-child(4) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#edit_add-container button {
  border: none;
  border-radius: 25px;
  background-color: hsl(51, 100%, 95%);
  color: hsl(13, 72%, 55%);

  font-size: 1rem;
  font-weight: 600;

  padding: 12px 20px;

  position: relative;
  left: 20px;
}

#edit_add-container button:hover {
  border-bottom: 1px solid hsl(51, 100%, 95%);
  box-shadow: 0 0 10px hsl(51, 100%, 95%);
}

/********** RESPONSIVENESS **********/
@media (min-width: 900px) {
  /* HOMEPAGE */
  .icon img {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .container-orange:hover .icon img {
    opacity: 1;
  }

  /* ALL OTHER PAGES */
  .single_post-container {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 400px) {
  /* HOMEPAGE */
  body {
    overflow-x: hidden;
  }

  #welcome p {
    font-size: 1.25rem;
  }

  .container-orange {
    height: 350px;
    width: 350px;
  }
  .post-homepage p {
    font-size: 0.9rem;
    margin-top: 0;
  }
  .heading-homepage h1 {
    font-size: 1.25rem;
  }
}
