html,
body {
  background-color: hsl(51, 100%, 95%);
  color: hsl(13, 72%, 55%);

  height: 100vh;
  margin: 0;

  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

main {
  margin: 0 15px;
  flex: 1;
}

a {
  color: hsl(13, 72%, 55%);
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;

  border-bottom: 5px double hsl(13, 72%, 55%);
  padding-bottom: 20px;
  margin-bottom: 50px;
}

nav div:nth-child(2) a {
  font-family: "Cherry Bomb One";
  font-size: 3rem;
}

nav div:nth-child(2) img {
  height: 2.5rem;
}

nav div:nth-child(3) a {
  margin-right: 30px;
  font-size: 2rem;
}

nav div:nth-child(3) a:hover {
  text-shadow: 0px 0px 10px hsl(13, 72%, 55%);
}

#page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#footer {
  margin-top: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsl(13, 72%, 55%);
}

#footer a {
  color: hsl(51, 100%, 95%);
}
